# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
*.sqlite3

# Django
*.log
*.pot
*.pyc
*.mo
*.db
db.sqlite3
media/

# VS Code / IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Node / frontend (if you have static files)
node_modules/
npm-debug.log
yarn-error.log

# Secrets
*.key
*.pem
